{% extends "base.html" %} {% block content1 %}

<div class="row my-3">
    <div class="col-12 d-flex justify-content-center align-item-center:""">
        <div class="profile-img-container">
            <img class="profile-img" src="/static/images/profile2.jpg" alt="image" />
        </div>
    </div>
</div>
<div class="home-txt col-12 text-center">
   <h5><span style="color: aquamarine;">Hi..!</span> My name is</h5> 
   <h2>Thisara Priyashan</h2>
   <h5>Python Developer <span style="color: aquamarine;">|</span> AI & ML Enthusiast </h5>
</div>

<div class="logo-links col-12 text-center align-item-center my-5">
    <a href="https://www.linkedin.com/in/thisarabogahawatta123/" target="_blank" class="ms-3"><img src="static/images/linkedin-logo2.png" alt="linkedin logo" width="50" height="50" class="social-links"></a>

    <a href="https://github.com/Thisara007" target="_blank" class="ms-3"><img src="static/images/github_logo2.png" alt="linkedin logo" width="50" height="50" class="social-links"></a>
</div>

{% endblock content1 %}
